requests==2.31.0
selenium==3.141.0
urllib3==1.25.11
pymongo==4.10.1
python-dotenv==1.0.1
pytrends==4.9.2
deep_translator==1.11.4
langdetect==1.0.9
chromedriver-autoinstaller==0.5.1
dnspython==2.4.2
pandas==1.5.3